{% extends 'layout.html' %}

{% block title %}
    orm_abc_app:index-title
{% endblock %}

{% block content %}
    <h5>orm_abc_app:index-content</h5>
    <pre>
    https://docs.djangoproject.com/en/5.0/ref/models/querysets/
    </pre>
    <pre>  
    https://docs.djangoproject.com/en/4.1/ref/templates/
    https://docs.djangoproject.com/en/4.1/ref/templates/language/#variables
    https://docs.djangoproject.com/en/4.1/ref/templates/language/#tags
    </pre>
    <pre>
    https://docs.djangoproject.com/en/4.1/contents/
    https://docs.djangoproject.com/en/4.1/ref/models/
    https://docs.djangoproject.com/en/4.1/ref/models/fields/
    https://docs.djangoproject.com/en/4.1/ref/models/options/
    https://docs.djangoproject.com/en/4.1/ref/models/querysets/
    https://docs.djangoproject.com/en/4.1/ref/models/expressions/
    https://docs.djangoproject.com/en/4.1/ref/models/conditional-expressions/#advanced-queries
    https://docs.djangoproject.com/en/4.1/ref/models/database-functions/
    https://docs.djangoproject.com/en/5.0/ref/models/querysets/#filter
    </pre>
    <pre>
     http://127.0.0.1:8000/admin/    root root
    </pre>
{% endblock %}

