{% extends 'layout.html' %}

{% block title %}orm_abc_app:var_list_dict{% endblock %}


{% block content %}
    <h5>var_list_dict</h5>
    <p> var_main: {{ var_main }}</p>
    <p>list_main: {{ list_main }}</p>
    <p>list_main.1: {{ list_main.1 }}</p>
    <ul>
        {% for value in list_main %}
            {% if  value == var_main %}
                <li>true: {{ value }}
                    {% else %}
                <li>else: {{ value }}
            {% endif %}
        {% endfor %}
    </ul>

    <p>dict_main</p>
    <ul>
        <li>{{ dict_main }}
        <li>{{ dict_main.x }}
        <li>{{ dict_main.y }}
            <ul>
                {% for key, value in dict_main.items %}
                    <li>{{ key }}: {{ value }}
                    {% if value == var_main %} - true_value
                    {% else %} - false_value
                    {% endif %}
                {% endfor %}
            </ul>
    </ul>
{% endblock %}

