<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_abc_app:index' %}">orm_abc_app:index</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_abc_app:datetime_nov' %}">orm_abc_app:datetime_nov</a>
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_abc_app:var_list_dict' %}">orm_abc_app:var_list_dict</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_abc_app:abc_form' %}">orm_abc_app:abc_form</a></li>
    {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'orm_abc_app:abc_get' %}">orm_abc_app:abc_get</a></li> {% endcomment %}
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_abc_app:abc_model_form' %}">orm_abc_app:abc_model_form</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_abc_app:abc_tweaks_form' %}">orm_abc_app:abc_tweaks_form</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_abc_app:abc_result' %}">orm_abc_app:abc_result</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'orm_abc_app:table' %}">orm_abc_app:table</a></li>
</ul>
